/*FlexBox*/
.container{
    display: flex;
    flex-direction: row 
}
/*=================================================================================================================================*/
/*CABEÇALHO*/
.cabecalho{
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    justify-content:space-around;
    
}
.menu{
    margin-top: 35px;
    margin-left:10px;
    color:black;
    font-size: 30px;
    margin-right:10px;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px blue solid;
    border-radius: 30px;

}
.imagemMenu{
    margin-top:10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius:50%;
    background-color: red;
}
/*=================================================================================================================================*/
/*FUNÇÃO GOV*/
/*Centro da página*/
.DivCenter{
    padding-top: 50px;
    display: flex;
    background-color: brown;
    width:100%;
    height:auto;
    flex-wrap: wrap;
    justify-content:space-around;
}
/*Caixa de texto*/
.CaixaText{
    background-color: blueviolet;
    width: 286px;
    height:336px;
    margin-bottom: 50px;
}
/*=================================================================================================================================*/
/*GERENCIAMENTO*/
/*Funções*/
.funcoesGen{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100%;
    height: auto;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}
.caixaFuncGen{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    height: 100px;
    width: 90%;
    border-top: 10px red solid;
    border-bottom:10px red solid;
    border-radius: 50px;
    color: white;
    font-size: 30px;
}
/*=================================================================================================================================*/
/*CADASTRO*/
/*Funções*/
.formatacaoCadastro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
}
.cadastro{
    background-color: red;
    height: auto;
    width:100%;
    flex-wrap: wrap;
    justify-content:space-around;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.elementoCadastro{
    font-size: 30px;
    color:black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    height: 80px;
    background-color:blue;
    border-radius: 50px;
}
/*=================================================================================================================================*/
/*LOGIN*/
.login{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: red;
    justify-content:space-around;
    
}
.elementoLogin{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
}
.funLogin{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction:row;
    background-color: violet;
    width:auto;
    height: auto;
    
}
.botaoLogin{
    margin-left: 10px;
    margin-right: 10px;
    background-color: green;
    height: 50px;
    width: 150px;
    font-size: 25px;
    border-radius: 50px;
}
.botaoCancel{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: chocolate;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}
/*=================================================================================================================================*/
/*HOME*/
.home{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:auto;
    flex-direction:row;
    background-color: red;
}